* {
    margin: 0;
    padding: 0;
}
#wrap {
    width: 100%;
    height: 1200px;
}
#banner {
    width: 100%;
    height: 400px;
    background-color: #9bc7d8;
    display: flex;
}
.box {
    width: 600px;
    padding: 150px 150px 150px 300px;
    height: 100px;
}
a {
    color: darkmagenta;
}
.box2 {
    width: 600px;
    height: 100%;
    display: flex;
    justify-content: center;
}
.button1 {
    margin: 160px 5px;
    border-radius: 12px;
    width: 120px;
    height: 50px;
    background-color: darkmagenta;
    color: white;
    text-align: center;
    line-height: 50px;
    user-select: none;
}
.button2 {
    margin: 160px 5px;
    border-radius: 12px;
    width: 140px;
    height: 50px;
    background-color: #fff;
    color: darkmagenta;
    text-align: center;
    line-height: 50px;
    user-select: none;
}