* {
    margin: 0;
    padding: 0;
}
#wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box {
    width: 400px;
    height: 300px;
    border: solid 2px #000;
}
