* {
    margin: 0 auto;
    padding: 0 auto;
}
#wrap {
    width: 1000px;
    height: 680px;
}
.header {
    width: 100%;
    height: 80px;
    background-color: #fa790f;
}
.section {
    width: 100%;
    height: 500px;
    display: flex;
}
.image {
    width: 60%;
    height: 100%;
    background-color: lightskyblue;
}
.content {
    width: 40%;
    height: 100%;
}
.content1, .content2, .content3 {
    width: 100%;
    height: 33.33%;
}
.content1 {
    background-color: magenta;
}
.content2 {
    background-color: #ebe700;
}
.content3 {
    background-color: #a9e76f;
}
.footer {
    width: 100%;
    height: 100px;
    background-color: dimgray;
}