* {
    margin: 0;
    padding: 0;
}
#cursor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    background-color: lightgray;
    text-align: center;
}
#cursor:hover {
    cursor: url(cursor.png), auto;
}