* {
    margin: 0 auto;
    padding: 0 auto;
    user-select: none;
}
.box1 {
    margin-bottom: 10px;
    width: 1200px;
    height: 100px;
    background-color: lightsalmon;
    text-align: center;
    line-height: 100px;
}
.box1:hover {
    background-color: #cc709b;
}
.box2 {
    margin-bottom: 10px;
    width: 1200px;
    height: 100px;
    background-color: cornflowerblue;
    text-align: center;
    line-height: 100px;
}
.box2:active {
    background-color: blue;
}
.box3 {
    margin-bottom: 10px;
    width: 1200px;
    height: 100px;
    background-color: lawngreen;
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkbox1 {
    width: 300px;
    height: 70px;
    background-color: #f0f0f0;
    text-align: center;
    line-height: 70px;
    border: solid 2px black;
    border-radius: 15px;
}
.checkbox1:focus {
    background-color: darkgreen;
}
.box4 {
    margin-bottom: 10px;
    width: 1200px;
    height: 100px;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkbox2 {
    width: 300px;
    height: 70px;
    background-color: #f0f0f0;
    text-align: center;
    line-height: 70px;
    border: solid 2px black;
    border-radius: 15px;
}
.box4:focus-within {
    background-color: blanchedalmond;
}