* {
    margin: 0 auto;
    padding: 0;
}
#wrap {
    width: 100%;
    height: 100vh;
    transition: all 0.5s;
}

/* 토글 버튼 */
.toggle {
    width: 600px;
    height: 200px;
    border-radius: 100px;
    border: solid 2px gray;
    transition: all 0.5s;
}
.toggle input {
    display: none;
}
.day_tog {
    margin-top: 13px;
    margin-bottom: 13px;
    width: 175px;
    height: 175px;
    cursor: pointer;
    transform: translateX(120%);
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    transition: all 0.5s;
}
.night_tog {
    margin-top: 13px;
    margin-bottom: 13px;
    width: 175px;
    height: 175px;
    cursor: pointer;
    transform: translateX(-120%);
    border-radius: 50%;
    background-color: rgb(248, 245, 76);
    opacity: 0;
    transition: all 0.5s;
}
/* 토글 버튼 */

/* 토클 버튼 라벨 교체 & 움직임*/
.toggle input[id="day_toggle"]:checked ~ .night_tog {display: block; opacity: 1; transform: translateX(120%);}
.toggle input[id="night_toggle"]:checked ~ .day_tog {display: block; opacity: 1; transform: translateX(-120%)}
/* 토클 버튼 라벨 교체 & 움직임*/

/* 토글 버튼 배경색 */
.toggle:has(#night_toggle:checked) {
    background-color: #b3b3b3;
}
.toggle:has(#day_toggle:checked) {
    background-color: #0e1e36;
}
/* 토클 버튼 배경색 */

/* 배경 색상 */
#wrap:has(#day_toggle:checked) {
    background-color: #222;
}
/* 배경 색상 */