* {
    margin: 0;
    padding: 0;
    user-select: none;
}
#wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
}
input {display: none;}
.toggle {padding: 0px 15px;
    display: flex;
    align-items: center;
    border-radius:50px;
    width: 450px;
    height: 200px;
    background-color: #b3b3b3;
    transition: all 0.5s;
}
label {
    display: block;
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 50%;
    transition: all 0.5s;
}
input:checked ~ label{
    background-color: #fffb00;
    transform: translateX(200%);
}
.toggle:has(input:checked) {
    background-color: #132574;
}
#wrap:has(input:checked) {
    background-color: #222;
}