* {
    margin: 0;
    padding: 0;
}
nav {
    margin: 10px;
    border-radius: 15px;
    width: 500px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
}
ul {
    width: 400px;
    height: 50px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    list-style: none;
}
li {
    text-align: center;
    line-height: 40px;
    width: 70px;
    height: 40px;
    background-color: #fff;
    border-radius: 15px;
}